<ion-header>
  <ion-toolbar>
    <ion-title>Películas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="query" (ionInput)="searchShows()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let show of shows" (click)="showDetails(show.show)">
      <ion-thumbnail slot="start">
        <img *ngIf="show.show.image" [src]="show.show.image.medium" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ show.show.name }}</h2>
        <p>{{ show.show.genres.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
